<div th:fragment="viewcategory">
	<div class="row" th:if="${category != null}" th:object="${category}">
		<div
			th:replace="~{components/components::viewfield(#{category.id},*{id},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{category.name},*{name},4)}"></div>
		<div
			th:replace="~{components/components::viewtext(#{category.description},${shortDescription},12)}"></div>
		<div
			th:replace="~{components/components::viewimg(#{category.imageprin},${imageprin},4)}"></div>
	


	</div>

	<div class="row" th:if="${category == null}">
		<div class="col-sm-12" th:text="#{category.notfound}">
		</div>


	</div>

	<div class="row" style="margin-top: 1em; text-align: right;">
		<div class="col-sm-12">
			<a class="btn btn-secondary" th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list')}" th:text="#{return}"></a>
		</div>


	</div>
</div>

