<div th:fragment="listcategory" class="row">

	<div class="col-sm-12">
		<a th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.create')}" class="btn btn-primary" th:text="#{category.new}"></a>
 	</div>

	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{category.imageprin}"></th>
					<th scope="col" th:text="#{category.name}"></th>
					<th scope="col"></th>
				</tr>
			</thead>
		
	
			<tbody>
				<tr th:if="${categories.data.empty}">
					<td colspan="6" th:text="#{category.notfound}"></td>
				</tr>
				
				<tr th:each="category : ${categories.data}" th:object="${category}">
					<td><span th:text="*{id}"></span></td>
					<td><img th:src="*{'/image/' + imageprin}" th:if="*{imageprin != null}" style="width:80px;"/></td>
					<td><span th:text="*{name}"></span></td>
					<td>
						<a sec:authorize="hasAnyAuthority('LEER_CATEGORIAS')" class="btntable btneye" th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.view') + category.id}"><i class="fa-sharp fa-solid fa-eye"></i></a>
						<a sec:authorize="hasAnyAuthority('GESTION_CATEGORIAS')" class="btntable btnedit" th:href="${'/web/category/edit/' + category.id}" ><i class="fa-solid fa-pen-to-square"></i></a>
						<a sec:authorize="hasAnyAuthority('GESTION_CATEGORIAS')" class="btntable btndel" th:data-url="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.delete') + category.id}" href="#"><i class="fa-solid fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>
	
	<div class="col-sm-12 pagination" th:if="${categories.numPage > 0}">
		<span th:text="#{pagintation.label(${categories.page + 1},${categories.numPage})}"></span>
		
		<a th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list') + 0}" th:if="${categories.page > 0}"><i class="fa-solid fa-backward-fast"></i></a>
		<a th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list') + (categories.page - 1)}"  th:if="${categories.page > 0}"><i class="fa-solid fa-backward-step"></i></a>
		
		
		<a th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list') + (categories.page  + 1)}" th:if="${categories.page <  (categories.numPage - 1)}"><i class="fa-solid fa-forward-step"></i></a>
		<a th:href="${@environment.getProperty('url.category.base')+@environment.getProperty('url.category.list') + (categories.numPage - 1)}"  th:if="${categories.page <  (categories.numPage - 1)}"><i class="fa-solid fa-forward-fast"></i></a>
	</div>
	
	<div th:replace="~{components/components::modaldelete(#{category.delete})}"></div>
</div>
