<div th:fragment="listclient" class="row">
	<div class="col-sm-12">
		<a th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.create')}" class="btn btn-primary" th:text="#{client.new}"></a>
 	</div>
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{client.name}"></th>
					<th scope="col" th:text="#{client.comercialName}">Nombre comercial</th>
					<th scope="col" th:text="#{client.email}">Email</th>
					<th scope="col" th:text="#{client.phone}">Tlf.</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${clients.data.empty}">
					<td colspan="6" th:text="#{client.notfound}"></td>
				</tr>
				
				<tr th:each="client: ${clients.data}" th:object="${client}">
					<td><span th:text="*{id}"></span></td>
					<td><span th:text="*{name}"></span></td>
					<td><span th:text="*{comercialName}"></span></td>
					<td><span th:text="*{email}"></span></td>
					<td><span th:text="*{phone}"></span></td>
					<td>
						<a class="btntable btneye" th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.view') + client.id}"><i class="fa-sharp fa-solid fa-eye"></i></a>
						<a class="btntable btnedit" th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.edit') + client.id}" ><i class="fa-solid fa-pen-to-square"></i></a>
						<a class="btntable btndel" href="#" th:data-url="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.delete') + client.id}"><i class="fa-solid fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>
	
	<div class="col-sm-12 pagination" th:if="${clients.numPage > 0}">
		<span th:text="#{pagintation.label(${clients.page + 1},${clients.numPage})}"></span>
		
		<a th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list')+'0'}" th:if="${clients.page > 0}"><i class="fa-solid fa-backward-fast"></i></a>
		<a th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list') + (clients.page - 1)}"  th:if="${clients.page > 0}"><i class="fa-solid fa-backward-step"></i></a>
		
		
		<a th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list') + (clients.page  + 1)}" th:if="${clients.page <  (clients.numPage - 1)}"><i class="fa-solid fa-forward-step"></i></a>
		<a th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list') + (clients.numPage - 1)}"  th:if="${clients.page <  (clients.numPage - 1)}"><i class="fa-solid fa-forward-fast"></i></a>
	</div>
	
	<div th:replace="~{components/components::modaldelete(#{client.delete})}"></div>
	
	
	
</div>
