<div th:fragment="listrole" class="row">

	<div class="col-sm-12">
		<a th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.create')}" class="btn btn-primary" th:text="#{role.new}"></a>
 	</div>

	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{role.name}"></th>
					<th scope="col"></th>
				</tr>
			</thead>
		
	
			<tbody>
				<tr th:if="${roles.data.empty}">
					<td colspan="6" th:text="#{role.notfound}"></td>
				</tr>
				
				<tr th:each="role : ${roles.data}" th:object="${role}">
					<td><span th:text="*{id}"></span></td>
					<td><span th:text="*{name}"></span></td>
					<td>
						<a class="btntable btneye" th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.view') + role.id}"><i class="fa-sharp fa-solid fa-eye"></i></a>
						<a class="btntable btnedit" th:href="${'/web/role/edit/' + role.id}" ><i class="fa-solid fa-pen-to-square"></i></a>
						<a class="btntable btndel" th:data-url="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.delete') + role.id}" href="#"><i class="fa-solid fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>
	
	<div class="col-sm-12 pagination" th:if="${roles.numPage > 0}">
		<span th:text="#{pagintation.label(${roles.page + 1},${roles.numPage})}"></span>
		
		<a th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.list') + 0}" th:if="${roles.page > 0}"><i class="fa-solid fa-backward-fast"></i></a>
		<a th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.list') + (roles.page - 1)}"  th:if="${roles.page > 0}"><i class="fa-solid fa-backward-step"></i></a>
		
		
		<a th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.list') + (roles.page  + 1)}" th:if="${roles.page <  (roles.numPage - 1)}"><i class="fa-solid fa-forward-step"></i></a>
		<a th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.list') + (roles.numPage - 1)}"  th:if="${roles.page <  (roles.numPage - 1)}"><i class="fa-solid fa-forward-fast"></i></a>
	</div>
	
	<div th:replace="~{components/components::modaldelete(#{role.delete})}"></div>
</div>
