<html>
<head th:replace="~{layout/scripts::scripts(${css},${js})}"></head>

<body>

	<div class="row">
		<div class="col-sm-12" style="text-align: right;">
	       <span class="language" data-language="es">ES</span>
	       <span class="language" data-language="en">EN</span>
		</div>
	</div>

	<div class="container" style="padding-top: 10vh">
		<div class="row">
			<div class="col-sm-12" style="text-align:center;">
				<h1 th:text="#{login.title}"></h1>
			</div>
		</div>
	
		<div class="row" th:if="${error != null}">
			<div class="col-sm-12" style="text-align:center;">
				<div class="alert alert-danger" role="alert" th:text="${error}">
				</div>

			</div>
		</div>
		
		
		<div class="card" style="width: 18rem; margin:auto; margin-top:2em">
		  <div class="card-body">
		    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
		    	<div class="row">
		    		<div class="col-sm-12">
		    			<label for="username" class="form-label" th:text="#{login.username}">Nombre de usuario</label>
  						<input type="text" class="form-control" id="username" name="username" placeholder="">
		    		</div>
		    		<div class="col-sm-12">
		    			<label for="password" class="form-label" th:text="#{login.password}">Contraseña</label>
  						<input type="password" class="form-control" id="password" name="password" placeholder="">
		    		</div>
		    		<input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		    		<div class="col-sm-12" style="text-align: center; margin-top:2em">
		    			<button class="btn btn-primary" type="submit" th:text="#{login.loginin}">Entrar</button>
		    		</div>
		    	</div>
		    
		    </form>
		  </div>
		</div>
		
	</div>
	
	
 <script type="text/javascript">
	 
	  function changeParamLanguage(url, language){
		    var otherParams = "";
		    var tempArray = url.split("?");
		    var baseURL = tempArray[0];
		    if(tempArray.lenght > 1){
		    	var additionalURL = tempArray[1];
			    var temp = "";
			    if (additionalURL) {
			        tempArray = additionalURL.split("&");
			        for (var i=0; i<tempArray.length; i++){
			            if(tempArray[i].split('=')[0] != 'language'){
			            	otherParams += temp + tempArray[i];
			                temp = "&";
			            }
			        }
			    }

			    var paramsLanguage = temp + "" + "language=" + paramVal;
			    return baseURL + "?" + otherParams + paramsLanguage;
		    } else {
		    	return baseURL + "?language=" + language;
		    }
		    
		}
	 
	 	$(function(){
	 		$(".language").on('click',function(evt){
	 			var language = $(this).attr('data-language');

	 			window.location.href = changeParamLanguage(window.location.href,language);
	 			
	 			

	 		});
	 	});
	 </script>


</body>


</html>